body {
    background-color: var(--cor-fundo);
}

main {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.gap {
    margin: 10vh 0;
}

.primario {
    padding: 40px;
    color: var(--cor-texto);
    z-index: 1;

    overflow-x: scroll;
}

.caroussel {
    text-align: center;
    display: flex;
    gap: 30px;

    overflow: scroll;
}

.caroussel::-webkit-scrollbar {
    height: 6px;

}

.caroussel::-webkit-scrollbar-track {
    background: transparent;
}

.caroussel::-webkit-scrollbar-thumb {
    background: var(--cor-texto);
    border-radius: 10px;
}

.caroussel::-webkit-scrollbar-corner{
    display: none;
}

.capas.redondas img {
    border-radius: 100px;
}

.capas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.capas img {
    height: 170px;
    width: 170px;

    border-radius: 5px;
}


.music-player-lateral {

    grid-column: 2/3;

    grid-row: 1/5;

    height: auto;
    width: auto;

    padding: 20px 40px;
    margin: 10px 0;

    color: var(--cor-texto);
    background-color: var(--cor-barra);
    border-radius: 20px;

    overflow: hidden;
}

.music-player-lateral .icones-player {
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}

.music-player-lateral img {
    height: auto;
    width: 220px;

    border-radius: 5px;
}

.music-player-lateral .sub-cover {
    margin: 10px 0;

    display: flex;
    align-items: center;
    gap: 20px;
}

.music-player-lateral .sub-cover .textos-player {
    display: flex;
    flex-direction: column;
}

.music-player-lateral .sub-cover .icones-player {
    font-size: 20px;

    display: flex;
    gap: 5px;
}

.music-player-lateral .controles-player {
    margin-top: 20px;
    font-size: 30px;

    display: flex;
    justify-content: center;
    gap: 15px;
}

.music-player-lateral .letras-player {
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    border-radius: 20px;

    margin: 15px 0;
    padding: 10px;


    min-height: 10%;
    max-height: 50%;
    height: auto;
    overflow: scroll;
}

.music-player-lateral .letras-player p {
    height: auto;
    max-height: 500px;
}