body {
    background-color: var(--azul-escuro);
}

main {
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr 1fr;

}


.primario {
    margin: 10vh 0;
    padding: 40px;
    color: var(--roxo-claro);

    grid-row: 1/5;

    z-index: 1;

    overflow-x: scroll;
}

.caroussel {
    text-align: center;
    margin: 20px 0;
    display: flex;
    gap: 30px;

    overflow: scroll;
}

.caroussel-musicas {
    grid-row: 1/2;
}

.caroussel::-webkit-scrollbar {
    height: 6px;

}

.caroussel::-webkit-scrollbar-track {
    background: transparent;
}

.caroussel::-webkit-scrollbar-thumb {
    background: var(--roxo-claro);
    border-radius: 10px;
}

.caroussel-artistas {
    grid-row: 2/3;
}

.caroussel-podcasts {
    grid-row: 3/4;
}

.capas.redondas img {
    border-radius: 100px;
}

.capas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.capas img {
    height: 170px;
    width: 170px;

    border-radius: 5px;
}

.music-player-lateral {
    height: 78vh;
    width: 300px;

    padding: 20px 40px;

    color: var(--roxo-claro);
    background-color: var(--roxo);
    border-radius: 20px;

    position: fixed;
    right: 0;
    transform: translateY(+14%);
    z-index: 2;

    overflow: hidden;
}

.music-player-lateral .icones-player {
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}

.music-player-lateral img {
    height: auto;
    width: 220px;

    border-radius: 5px;
}

.music-player-lateral .sub-cover {
    margin: 10px 0;

    display: flex;
    align-items: center;
    gap: 20px;
}

.music-player-lateral .sub-cover .textos-player {
    display: flex;
    flex-direction: column;
}

.music-player-lateral .sub-cover .icones-player {
    font-size: 20px;

    display: flex;
    gap: 5px;
}

.music-player-lateral .controles-player {
    margin-top: 20px;
    font-size: 30px;

    display: flex;
    justify-content: center;
    gap: 15px;
}

.music-player-lateral .letras-player {
    background-color: var(--roxo-claro);
    color: var(--cinza);
    border-radius: 20px;

    margin: 15px 0;
    padding: 10px;

    height: 40%;
    overflow: scroll;
}