body {
    font-family: var(--fonte-principal);
    font-size: var(--fonte-base);
    font-weight: var(--peso-regular);
    line-height: var(--altura-linha);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*::-webkit-scrollbar-corner {
    display: none;
}

main {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-row: 1fr 1fr 1fr;
}

.oculto {
    display: none;
}

#botao-mostrar {
    position: fixed;
    right: 0;
    background-color: var(--cor-barra);
    padding: 10px;
    color: var(--cor-texto);
    transform: translateY(+11vh);
    border-radius: 100px;
}

.clicavel {
    cursor: pointer;
}

.primario {
    grid-column: 1/2;

    padding: 40px;
    color: var(--cor-texto);

    grid-row: 1/5;

    overflow-x: scroll;
}

.caroussel {
    text-align: center;
    margin: 20px 0;
    display: flex;
    gap: 30px;

    overflow: scroll;
}

.caroussel-musicas {
    grid-row: 1/2;
}

.caroussel::-webkit-scrollbar {
    height: 6px;

}

.caroussel::-webkit-scrollbar-track {
    background: transparent;
}

.caroussel::-webkit-scrollbar-thumb {
    background: var(--cor-texto);
    border-radius: 10px;
}

.caroussel-artistas {
    grid-row: 2/3;
}

.caroussel-podcasts {
    grid-row: 3/4;
}

.capas.redondas img {
    border-radius: 100px;
}

.capas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.capas img {
    height: 170px;
    width: 170px;

    border-radius: 5px;
}

.music-player-lateral {

    grid-column: 2/3;

    grid-row: 1/5;

    height: auto;
    width: auto;

    padding: 20px 40px;
    margin: 10px 0;

    color: var(--cor-texto);
    background-color: var(--cor-barra);
    border-radius: 20px;

    overflow: hidden;
}

.music-player-lateral .icones-player {
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}

.music-player-lateral img {
    height: auto;
    width: 220px;

    border-radius: 5px;
}

.music-player-lateral input {
    width: 100%;
    accent-color: var(--cor-texto);
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--cor-texto);
    height: 0.67em;
    border-radius: 67px;
}

input[type="range"]::-moz-range-track {
    background: var(--cor-texto);
}


.music-player-lateral .sub-cover {
    margin: 10px 0;

    display: flex;
    align-items: center;
    gap: 20px;
}

.music-player-lateral .sub-cover .textos-player {
    display: flex;
    flex-direction: column;
}

.music-player-lateral .sub-cover .icones-player {
    font-size: 20px;

    display: flex;
    gap: 5px;
}

.music-player-lateral .controles-player {
    margin-top: 20px;
    font-size: 30px;

    display: flex;
    justify-content: center;
    gap: 15px;
}

.music-player-lateral .letras-player {
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    border-radius: 20px;

    margin: 15px 0;
    padding: 10px;


    min-height: 10%;
    max-height: 50%;
    height: auto;
    overflow: scroll;
}

.music-player-lateral .letras-player p {
    height: auto;
    max-height: 500px;
}