* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --azul-escuro: #060E2E;
  --roxo: #A861C4;
  --azul: #4AB1DF;
  --roxo-claro: #DDD7F9;
  --branco: #FFFFFF;
  --preto: #000000;
  --cinza: #727293;
}

/*colocar os itens reultilizaveis aqui*/

/* cabecalho superior */

.cabecalho-superior {

  background: var(--roxo);
  color: var(--roxo-claro);
  border-radius: 0 0 20px 20px;
  font-size: 20px;

  padding: 20px 30px;
  width: 100vw;
  height: 10vh;

  display: flex;

  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 3;
}

.cabecalho-superior .cabecalho-cont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}

.cabecalho-superior .cabecalho-cont i {
  font-size: 40px;
}



.cabecalho-superior .cabecalho-cont .campo-busca {
  height: 45px;
  width: 720px;

  background-color: var(--roxo-claro);
  color: var(--preto);

  padding: 10px;

  border-radius: 30px;


  display: flex;
  align-items: center;
  gap: 10px;

  box-shadow: 0 4px 12px #0000005f;
}

.cabecalho-superior .cabecalho-cont .campo-busca p {
  font-size: 20px;
}

.cabecalho-superior .cabecalho-cont .campo-busca i {
  font-size: 20px;
}

.cabecalho-superior .cabecalho-cont .campo-busca input {
  border: none;
  outline: none;
  background: transparent;
  caret-color: transparent;
}

/* cabecalho inferior */

.cabecalho-inferior {
  background: var(--roxo);
  color: var(--roxo-claro);
  border-radius: 20px 20px 0 0;
  font-size: 20px;

  padding: 20px 30px;
  width: 100vw;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  z-index: 3;
}

.cabecalho-inferior .inferior-cont {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.cabecalho-inferior i {
  font-size: 30px;
}

.item-ativo {
  padding: 5px 3px;
  border-radius: 20px;
  background-color: var(--azul);
}